{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="container custom-container">

<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">

    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{% url 'home' %}">
                    <img class="w-50" src="{% static 'image/qw.avif' %}" alt="logo">
                </a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">

            <div class="dropdown">

                <button class="btn btn-outline-primary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                    Profile
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    <a class="dropdown-item" href="{% url 'newpost' %}">New Post</a>
                    <a class="dropdown-item" href="{% url 'myposts' %}">My Posts</a>
                    <a class="dropdown-item" href="{% url 'signout' %}">Sign Out</a>

                </div>

            </div>

        </form>

    </div>

</nav>

<form method="POST">
    {% csrf_token %}

    <div class="container custom-container" style="max-width:1258px;">
        <br><br>

        <h1 class="fw-bolder">Make a New Post</h1>

        <br><br>

        <div class="mb-3">
            <h3>
                <label class="form-label">Heading/Title</label>
            </h3>
            <input type="text" class="form-control" name="title" required>
        </div>

        <div class="form-group">
            <h3>
                <label>Content</label>
            </h3>
            <textarea class="form-control" rows="7" name="content" required></textarea>
        </div>

        <br>
        <input class="btn btn-primary" type="submit" value="Post">
    </div>
</form>

{% endblock %}